{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Тут я размещу информацию о себе, используя свои умения верстать.
  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста.
</p>
<p>
    Программированием я ещё начал заниматься с детства, потому что мне нравилось что-то создавать, ведь при помощи кодов можно сотворить чудо
    которое будет работать сам по себе. Лично для меня программирование - творить чудеса.
    Когда я занимаюсь изучением такого языка программирования, как PYTHON со мной всегда лежит кошка на клавиатуре, незнаю то ли из-за любви, то ли из-за мешательства
    изучать такой прекрасный язык.
</p>
<p>Где меня найти? Можете увидеть внизу, я специально сделал заголовок, чтобы привлечь ваше внимание</p>
<h4>Где меня искать</h4>
<a href="https://github.com/3mpty1"> Я на Github </a>


<p>Список будет пополняться...</p>
{% endblock %} 